.App {
  padding: 1rem;
}

.instance {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.header {
  margin: 1rem 0rem;
}
.instance table {
  text-align: start;
  margin-top: 0.5rem;
}

table, th, td, tr {
  border: none;
  border-collapse: collapse;
  vertical-align: top;
  width: 96vw;
}

th {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  text-align: start;
  white-space: nowrap;
}

.table-head-title {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  text-align: start;
  white-space: pre-line;
}
.instance table td, .instance table th {
  padding: 0.5rem 0.5rem;
}

.instance table tr:nth-child(even) {
  background-color: rgb(231, 244, 252);
}

.tree-table{
   white-space: pre;
}

.table-title{
  background-color: rgb(71, 139, 182);
  color: rgb(255, 255, 255);
}


.Button{
  height: 2rem;
}

.Settings{
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
  align-items: center;
}

.table-wrapper{
  display: flex;
  flex-direction: column;
}

.trees {
  white-space: pre;
}
.scroll-to-top{
  background-color: rgb(71, 139, 182);
  border-radius: 25px;
  height: 50px;
  width: 50px;
  color: rgb(255, 255, 255);
}
