.App {
  padding: 1rem;
}

.instance {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.header {
  margin: 2.5rem 0rem;
}
.instance table {
  text-align: left;
  margin-top: 0.5rem;
  border: none;
}

table, th, td, tr {
  border: none;
  border-collapse: collapse;
  vertical-align: top;
}

.instance table td, .instance table th {
  padding: 0.5rem 0.5rem;
}

.instance table tr:nth-child(even) {
  background-color: rgb(231, 244, 252);
}

.tree-table{
   white-space: pre;
}

.table-title{
  background-color: rgb(71, 139, 182);
  color: rgb(255, 255, 255)
}
